<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitta.lightsoo.fitta">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.Camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Intro.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Fragment.FittingFragment"
            android:label="@string/title_activity_fitting_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Camera.CameraActivity"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity android:name=".Fragment.StoreFragment" />
        <activity android:name=".Activity.FittingResultActivity" />
        <activity
            android:name=".Activity.FittingInfoActivity"
            android:label="@string/title_activity_fitting_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Intro.LoginActivity" />
        <activity android:name=".Intro.SignupActivity" />
        <activity android:name=".Intro.SignupInfo1Fragment" />
        <activity android:name=".Intro.SignupInfo2Fragment" />
        <activity android:name=".Intro.SignupInfo3Fragment"></activity>


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- Provider뒤로 앱아이디! -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1570292836633910"
            android:exported="true" />
        <!-- for facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>
